body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  background: #292d34 !important;
  overflow: hidden;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1, h2, h3, h4, h5, h6{

  font-weight: 600 !important;

}

.hcenter{

  width: 100%;
  align-items: center;

}



.inventory-wrapper {
  padding: 10px;

}

.item-amount {
  font-weight: 600 !important;
  font-size: 11px;
  background-color: #464b52;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 2px;
  padding: 1px 10px;
  display: inline-block; /* Add this line */
  max-width: 100%; /* Add this line */
}



.inventory-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  background-color: #212529;
  border-radius: 4px;
  border: 1px solid #363636;
  padding:10px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 30vh;
  margin: 0 auto;
  background-color: #212529;
  border-radius: 4px;
  border: 1px solid #363636;
  padding:10px;
}

.sell-button{



}



.sell-slider-container{

  text-align: left!important;
  margin-left:0.8rem;

}

.sell-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sell-slider:hover {
  opacity: 1;
}

.sell-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #244A90;
  cursor: pointer;
}

.sell-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #244A90;
  cursor: pointer;
}

.inventory-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Align content vertically and horizontally */
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #292929; /* Adjusted gray background color */
  border-radius: 4px; /* Rounded corners */
  padding: 4px; /* Adjusted padding */
  border: 1px solid #363636; /* Light gray border */

}

.inventory-tile img {
  width: 40px; /* Adjusted image width */
  height: 40px; /* Adjusted image height */
  object-fit: contain; /* Maintain aspect ratio of the image */
  margin-top: 15px;
}

.item-name {
  margin-top: 5px;
  text-align: center;
  font-weight: 600 !important;

}

.tabs-wrapper {
  width: 100%; /* Adjust the width as needed */
  overflow-x: auto;
  margin-bottom: 10px;

}

.tabs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap; /* Prevent tabs from wrapping to the next line */
}


.tab {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #777777;
  color: #ffffff;
  cursor: pointer;
  display:none;

}

.tab.active {
  background-color: #ffffff;
  color: #363636;

}

.inventory-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}


.item-tooltip {
  display: flex;
  align-items: center;
}

.item-left {
  margin-right: 10px;
}

.item-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.pointerenabled{


  cursor:pointer;

}



.gameLogo{

  margin-left:10px;

}

#fadeCover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #292d34;
}

.navbar{

    padding:0.5rem;
    font-weight: 400 !important;
}

.card {
  margin-bottom: 1rem;
  margin-left: 1rem;
  
}

.cardhover{

  transition: transform 0.2s ease-in-out;

}

.cardhover:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.btn-primary{

    width:100%;

}


.hcenter{

    text-align: center;
    justify-content: center;

}

.centered {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#homecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust the height as needed */
}

#businesscontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust the height as needed */
}

#arenacontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust the height as needed */
}


.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.Toastify__toast--warning {
  background: transparent;
  box-sizing: border-box;
  box-shadow: none !important;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.25rem !important;
  text-align: center;
}


.cantAfford{

    color:red;

}

.canAfford{

    color:green;

}

.gymBought{

    color: lightblue;

}

.lightredtext{

  color: #D0312D;

}

.lightbluetext{

  color: #3cdfff;

}

.lightgreentext{

  color: #90EE90;

}

.whitetext{

  color: white;

}


.combat-equip-img {
    background-color: #3e4856!important;
}

.border-combat-outline {
    border-color: #7e8999!important;
    border-width: 2px!important;
    border-style: solid!important;
    border-radius: 0.5rem!important;
}

.combat-equip-img {
    width: 48px;
    height: 48px;
    margin: 0.33em;
    background-color: #fff;
}

.p-1 {
    padding: 0.25rem!important;
}

.equipment-container{


  width:100%;
  margin-bottom:2rem;

}

.nv{

  visibility: hidden;

}

.equipment-slot{

  display:flex;
  justify-content: center !important;

}

.equipment-image{

  width:40px;
  height:40px;

}

.selected-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:50px;
  background-color: #2f353b;
  border-color: #363636!important;
  border-width: 2px!important;
  border-style: solid!important;
  border-radius: 0.5rem!important;
}

.selected-item-name{

  margin-left:0.8rem;
  text-align:left!important;

}

.total-sell-price{

  float:right;
}

.selected-item-stats{

  width:20%;

}

.selected-item-view-stats{

  margin-left:0.8rem;
  color:#3C709F;
  cursor:pointer;
  text-align:left!important;

}

.selected-item-amount-container{

  width:100%;

}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}